# Ignore .git and version control files
.git
.gitignore

# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore local environment files
# .env
*.log

# Ignore Docker build artifacts
Dockerfile
docker-compose.yml
